h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

button {
  display: inline-block;
  border: none;

  &:focus {
    outline: none;
  }
}

input {
  display: inline-block;
  border: none;

  &:focus {
    outline: none;
  }
}
