@mixin  container($width) {
  .container {
    width: $width;
    @content;
  }
}
@each $key, $value in $brackpoint {
  @media (min-width: $value) {
      @if $key == xs {
        @at-root (without: media) {
          @include container(100%) {
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
          }
        } 
      }
      @else if $key == sm {
        @include container(540px)
      }
      @else if $key == md {
        @include container(720px)
      }
      @else if $key == lg {
        @include container(960px)
      }
      @else if $key == xl {
        @include container(1250px)
      }
      @else  {
        @include container(1320px)
      }
    
  }
}